@page
@model MovieTheater.Pages.AdminPageModel

<div>
    <h1>Admin Page</h1>
    <ul>
        <li><a asp-page="/Accounts/Index">Manage Accounts</a></li>
        <li><a asp-page="/Movies/Index">Manage Movies</a></li>
        <li><a asp-page="/Seats/Index">Manage Seats</a></li>
    </ul>
    <form method="post">
        <button type="submit">Back to Homepage</button>
    </form>
    <form method="post" asp-page-handler="Logout">
        <button type="submit">Log out</button>
    </form>

</div>