@using Microsoft.AspNetCore.Http;
@{
	// Check if session values exist
	int id = -1;
	bool isLoggedIn = !string.IsNullOrEmpty(Context.Session.GetString("AccountId"));
	if (isLoggedIn) id = Int32.Parse(Context.Session.GetString("AccountId"));
}
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header logo">
				<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<div id="nav-icon1">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<a href="Home"><img class="logo" src="~/user-asset/images/logo1.png" alt="" width="119" height="58"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav flex-child-menu menu-left">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li class="dropdown first">
						<a class="btn btn-default " href="/Home">
							Home page
						</a>

					</li>
					@if (isLoggedIn)
					{
						<li class="dropdown first">
							<a href="/YourTickets" class="btn btn-default ">
								Your Tickets
							</a>
						</li>
						<li class="dropdown first">
							<a href="/Profile?id=@id" class="btn btn-default ">
								Profile
							</a>
						</li>
					}

				</ul>
				<ul class="nav navbar-nav flex-child-menu menu-right">
					@if (isLoggedIn)
					{
						<li class="logoutLink"><a href="/Logout">Log Out</a></li>
					}
					else
					{
						<li style=" background: none;" class="btn"><a href="/Login">LOG In</a></li>
						<li class="btn signupLink"><a href="#">Sign Up</a></li>
					}
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<!-- top search form -->
		<div class="top-search">
			<select>
				<option value="united">TV show</option>
				<option value="saab">Others</option>
			</select>
			<input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
		</div>
	</div>
</header>