<!DOCTYPE html>
<html lang="vi">
<head>
    <title>@ViewData["Title"] | Moveek</title>
    <meta charset="utf-8">
    <!-- Các thẻ meta, stylesheets, scripts khác từ giao diện của bạn -->
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WPB2J8M');</script>
    <!-- End Google Tag Manager -->
    <script>
        var locale = 'vi';
    </script>
    <!-- Giao diện Moveek -->
    <link rel="stylesheet" href="https://cdn.moveek.com/build/209.f92a16de.css">
    <link rel="stylesheet" href="https://cdn.moveek.com/build/502.903ae12b.css">
    <link rel="stylesheet" href="https://cdn.moveek.com/build/main.e51a96af.css">
</head>
<body class="d-flex align-items-center bg-auth border-top border-top-2 border-danger">
    <div class="container">
        <!-- Nội dung của layout -->
        @RenderBody()
    </div>
    <!-- Các scripts khác từ giao diện của bạn -->
    <!-- Giao diện Moveek -->
    <script src="https://cdn.moveek.com/build/runtime.2fb3d7a0.js"></script>
    <script src="https://cdn.moveek.com/build/63.09bb8d34.js"></script>
    <script src="https://cdn.moveek.com/build/506.555300ad.js"></script>
    <script src="https://cdn.moveek.com/build/486.4cceadc6.js"></script>
    <script src="https://cdn.moveek.com/build/638.6cb40bfa.js"></script>
    <script src="https://cdn.moveek.com/build/933.132c533a.js"></script>
    <script src="https://cdn.moveek.com/build/209.951a4c28.js"></script>
    <script src="https://cdn.moveek.com/build/502.b566866b.js"></script>
    <script src="https://cdn.moveek.com/build/160.bf651560.js"></script>
    <script src="https://cdn.moveek.com/build/636.12c5a7ce.js"></script>
    <script src="https://cdn.moveek.com/build/main.b2360d07.js"></script>
</body>
</html>
